[build-system]
requires = ["setuptools", "cython"]
build-backend = "setuptools.build_meta"

[project]
name = "anycrc"
version = "0.3.1"
description = "Python CRC Computation Library"
readme = "README.md"
requires-python = ">=3.7"

[project.urls]
"Homepage" = "https://github.com/marzooqy/anycrc"