[build-system]
requires = ["setuptools", "cython"]
build-backend = "setuptools.build_meta"

[project]
name = "anycrc"
version = "1.3.3"
description = "The fastest Python CRC Library"
readme = "README.md"
license = {text = "Zlib"}
requires-python = ">=3.7"

[project.urls]
"Homepage" = "https://github.com/marzooqy/anycrc"

[tool.cibuildwheel]
skip = "pp*"
