[build-system]
requires = ["setuptools", "cython"]
build-backend = "setuptools.build_meta"

[project]
name = "anycrc"
version = "0.7.3"
description = "Python CRC Computation Library"
readme = "README.md"
requires-python = ">=3.7"

[project.urls]
"Homepage" = "https://github.com/marzooqy/anycrc"

[tool.cibuildwheel]
build-frontend = "pip"
skip = "pp*"

#Apple's clang doesn't come with openmp by default
[tool.cibuildwheel.macos.environment]
CC = "gcc-13"
