[build-system]
requires = ["setuptools", "cython"]
build-backend = "setuptools.build_meta"

[project]
name = "anycrc"
version = "0.5.0"
description = "Python CRC Computation Library"
readme = "README.md"
requires-python = ">=3.7"

[project.urls]
"Homepage" = "https://github.com/marzooqy/anycrc"

[tool.cibuildwheel]
skip = "pp*"
build-frontend = "pip"

# gcc optimizes the slice-by-16 algorithm better
[tool.cibuildwheel.windows.config-settings]
--build-option = "--compiler=mingw32"